*{
    margin: 0%;
}
h1{
    background-color: aqua;
}
.box1{
        width: 33%;
        height: 500px;
        float: left;
        background-size: cover;
        position: relative;

}
.box2{
    width: 50%;
    height: 300px;
    float: left;
    background-size: cover;

}

.box3{
    width: 50%;
    height: 300px;
    float: left;
    background-size: cover;

}

#img{
    width: 100%;
    height: 500px;
    background-image:url(https://www.karunya.edu/sites/default/files/img/images/karunya-campus-view.jpg.pagespeed.ce.IyizWonRVf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    background-color: bisque;
}
#about h2{
    text-align: center;
}
#img1{

    background-image:url(https://karunya.edu/sites/default/files/img/site/front/academics.jpg);
    background-repeat: no-repeat;
}
#img2{

    background-image:url(https://karunya.edu/sites/default/files/img/site/campus-life/front-campus-life-1.jpg);
    background-repeat: no-repeat;
}
#img3{

    background-image:url(https://www.karunya.edu/img/ctc/1920_650.jpg.pagespeed.ce.DxZ-UoYHkN.jpg);
    background-repeat: no-repeat;
}
#img3:hover{
    opacity: 30%;
}
#img4{

    background-image:url(https://karunya.edu/sites/default/files/img/technology-mission/cyber-security.jpg);
    background-repeat: no-repeat;
}

.opc{
    text-align: center;
    color: white;
    background-color: black;
    opacity: 50%;
}
.opc:hover{
    
    color: red;
    background-color: black;
    opacity: 1;
}
#bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

label,input{
    display: block;
}
input[type=submit]{
    width: 200px;
    background-color: greenyellow;
    margin-top: 20px;
}

input[type=text]{
    width: 200px;
    margin: 20px;
    margin-left: 0%;
    border-color: aqua;
    border-radius: 5px;
}
input[type=password]{
    width: 200px;
    margin: 20px;
    margin-left: 0%;
    border-color: aqua;
    border-radius: 5px;
}

input[type=text]:focus{
    background-color: white;
    border: 1px blue;
}
#center{
    text-align: center;
}
.form{
    border: 2px;
    border-color: blueviolet;
}